@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes indeterminate {
    0% {
        left: -40%;
        width: 40%;
    }

    50% {
        left: 20%;
        width: 60%;
    }

    100% {
        left: 100%;
        width: 40%;
    }
}